.hero {
  height: 556px;
  padding: 96px 112px;
  display: flex;
  justify-content: space-between;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.heroText {
  width: 600px;
  padding-right: 4%;
}
.heroText h1 {
  color: #111827;
  font-size: 60px;
  font-weight: 700;
}
.heroText p {
  color: #4b5563;
  font-size: 16px;
}
.box {
  color: #4b5563;
}
.location {
  display: flex;
  gap: 8px;
  align-items: center;
}
.location img {
  width: 20px;
  height: 20px;
  margin: 4px;
}
.available {
  display: flex;
  align-items: center;
  gap: 8px;
}
.greenDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #10b981;
  margin: 14px;
  margin-left: 8px;
}
.heroLinks {
  display: flex;
  padding: 8px;
  gap: 8px;
}
.heroLinks img {
  height: 24px;
  width: 24px;
}
.heroRight {
  height: 364px;
  position: relative;
  width: 568px;
}
.shape {
  width: 280px;
  height: 320px;
  background-color: #e5e7eb;
  border: 8px solid white;
  position: absolute;
  top: 42px;
  right: 0px;
}

.tom {
  width: 280px;
  height: 320px;
  border: 8px solid white;
  position: absolute;
  top: 2px;
  left: 248px;
}
