.skill {
  height: 560px;
  padding: 96px 112px;
  display: flex;
  justify-content: space-between;
  color: #4b5563;
  gap: 48px;
  flex-direction: column;
}
.title {
  width: 75px;
  height: 28px;
  background-color: #e5e7eb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.skillText {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 48px;
}
